/* .swiper-button-prev {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
    left: 30px !important;
    right: auto;
    height: 28px;
    top: 40%;
}

.swiper-button-next {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E);
    right: 30px !important;
    left: auto;
    height: 28px;
    top: 40%;
}
 */

.BannerDisplay section {
    /* height: 499px; */
    height: 53vh;
    width: auto;
    /* border: 1px solid black; */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 5vh 0; */
    display: flex;
    align-items: center;
}

.arrowControlPart {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 0 6.8vw 0 6.8vw;
}

.arrowControlPart img {
    height: 4vh;
    width: 4vh;
}

.arrowControlPart img:hover {
    cursor: pointer;
}

.lesserThan {
    margin: 0 82vw 0 0;
}

/* .BannerPic-One, .BannerPic-Two, .BannerPic-Three{
    transform: translatex(-10vw);
    transition: 2s;
} */