.ProductDisplayCard {
    width: 265px;
    height: auto;
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.ProductDisplayCard:hover {
    cursor: pointer;
}

.ProductDisplayCard section {
    margin: 0;
}

/* ProductDisplayCardTop is here */
.ProductDisplayCardTop {
    height: 338px;
    background-color: white;
    /* border-radius: 15px 15px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductDisplayCardTop-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductDisplayCardTop-Container .productImage {
    /* border: 1px solid black; */
    height: 215px;
    width: 215px;
}

.heartAndEye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0vh 0 20vh 14.5vw;
}

.heartIcon {
    height: 3vh;
    width: 3vh;
    margin-bottom: 3vh;
}

/* ProductDisplayCardBotton is here */
.ProductDisplayCardBotton {
    height: 182px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.ProductDisplayCardBotton:hover {
    background-color: white;
}

.ProductDisplayCardBotton button {
    padding: 7px 1.63vw;
    border: 1px solid #3BA9E0;
    font-size: 16px;
    border-radius: 4px;
    margin: 11px 0 20.8px 0;
}

.ProductDisplayCardBotton button:hover {
    background-color: #3BA9E0;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.productPrice {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: rgba(113, 113, 113, 1);
    font-weight: bolder;
    margin-bottom: 13px;
}

.productName {
    margin-bottom: 20px;
    font-size: 15px;
    text-align: left;
}

.productIdAndRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productRatingBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 9.7vw;
}

.productID {
    font-size: 12px;
}

.productRatingBox p {
    font-size: 12px;
}

.starIcon {
    height: 2vh;
    width: 2vh;
    margin: 0 2px 1px 2px;
}

.productRatingSeparate {
    height: 2vh;
    width: 1px;
    background-color: black;
    margin: 0 2px;
}