.HeaderComponent {
    height: 100px;
    width: auto;
    /* border: 1px solid black; */
}

.HeaderComponent section {
    margin: 9px 0 9px 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shopnmacLogo {
    width: 144px;
    height: 55px;
    /* border: 1px solid black; */
    /* margin-top: -2.5vh; */
    margin-top: -18.85px;
}

.shopnmacLogo:hover {
    cursor: pointer;
}

.headerParts {
    margin-left: 55px;
}

/* headerPartsTop is here */
.headerPartsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* width: 28vw; */
    width: 430.08px;
    margin: 0 44px 0 791.81px;
}

.headerPartsTop button {
    font-size: 16px;
    background-color: white;
    border: 0;
}

.headerPartsTop button:hover {
    cursor: pointer;
}

.Call-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-right: 7.5px;
}

.phoneLogo {
    transform: rotate(40deg);
    margin-right: 7.5px;
}

/* headerPartsSeparate is here */
.headerPartsSeparate {
    height: 2px;
    /* width: 82.75vw; */
    width: 1271.04px;
    background-color: #CDCDCD;
    margin: 10px 0 3px 0;
}

/* headerPartsBottom starts here */
.headerPartsBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AllCategories-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    border: 0;
    background-color: white;
    /* border: 1px solid black; */
    /* padding: 2vh 0; */
    padding: 15.08px 0;
}

.AllCategories-Button:hover {
    cursor: pointer;
}

.hambergerMenu {
    height: 16px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 14px;
}

.hambergerMenuLine {
    width: 25px;
    height: 2px;
    background-color: gray;
}

.BRANDS-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    margin: 0 70px 0 36px;
    border: 0;
    background-color: white;
    /* padding: 2vh 0; */
    padding: 15.08px 0;
}

.BRANDS-Button:hover {
    cursor: pointer;
}

.sortDownIcon {
    height: 14px;
    width: 8px;
    margin-left: 12px;
}

/* searchInput is here */
.searchInputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 210.43px;
}

.searchInputBox input {
    height: 30px;
    width: 400px;
    padding: 0 0 0 20px;
    border-radius: 5px 0 0 5px;
    border: 0;
    background-color: rgb(236, 236, 236);
    outline: 0;
}

.searchInputBox button {
    height: 30px;
    width: auto;
    display: flex;
    align-items: center;
    border: 0;
    background-color: rgb(236, 236, 236);
    border-radius: 0 5px 5px 0;
}

.searchInputBox button img {
    height: 14px;
    width: 14px;
    margin-right: 5px;
}

/* cartAndLogin is here */
.cartAndLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 44px;
    /* border: 1px solid black; */
}

.cartAndLogin button {
    font-size: 16px;
    font-weight: bolder;
    color: red;
    background-color: white;
    border: 0;
}

.cartAndLogin button:hover {
    cursor: pointer;
}

.cartItems-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartIcon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
}

.cartLoginSeparate {
    margin: 0 25px;
    height: 44px;
    width: 2px;
    background-color: rgb(46, 46, 46);
}

/* responsive design starts from here */
@media(width=1920px) {
    .HeaderComponent {
        height: 125px;
        width: auto;
        /* border: 1px solid black; */
    }

    .HeaderComponent section {
        /* margin: 9px 0 9px 50px; */
        margin: 11.25px 0 11.25px 62.5px;
        /* border: 1px solid black; */
    }

    .shopnmacLogo {
        width: 180px;
        height: 68.75px;
        /* border: 1px solid black; */
        /* margin-top: -2.5vh; */
        margin-top: -23.56px;
    }

    .headerParts {
        margin-left: 68.75px;
    }

    .headerPartsTop {
        /* border: 1px solid black; */
        /* width: 28vw; */
        width: 537.6px;
        margin: 0 55px 0 989.76px;
    }

    .headerPartsTop button {
        font-size: 20px;
    }

    .Call-Button {
        margin-right: 9.375px;
    }

    .phoneLogo {
        margin-right: 9.375px;
    }

    .headerPartsSeparate {
        height: 2px;
        /* width: 82.75vw; */
        width: 1588.8px;
        background-color: #CDCDCD;
        margin: 12.5px 0 3.75px 0;
    }

    .AllCategories-Button {
        font-size: 20px;
        /* border: 1px solid black; */
        /* padding: 2vh 0; */
        padding: 18.85px 0;
    }

    .BRANDS-Button {
        font-size: 20px;
        margin: 0 87.5px 0 45px;
        /* padding: 2vh 0; */
        padding: 18.85px 0;
    }

    .sortDownIcon {
        height: 17.5px;
        width: 10px;
        margin-left: 15px;
    }

    .searchInputBox {
        margin-right: 263.04px;
    }

    .searchInputBox input {
        height: 37.5px;
        width: 500px;
        padding: 0 0 0 25px;
        border-radius: 6.25px 0 0 6.25px;
    }

    .searchInputBox button {
        height: 37.5px;
        border-radius: 0 6.25px 6.25px 0;
    }

    .searchInputBox button img {
        height: 17.5px;
        width: 17.5px;
        margin-right: 6.25px;
    }

    .cartAndLogin {
        margin-right: 55px;
        /* border: 1px solid black; */
    }

    .cartAndLogin button {
        font-size: 20px;
    }

    .cartIcon {
        width: 30px;
        height: 30px;
        margin-right: 17.5px;
    }

    .cartLoginSeparate {
        margin: 0 31.25px;
        height: 55px;
        width: 2.5px;
    }
}