.FooterComponent {
    /* height: 365px; */
    height: auto;
    width: auto;
    background-color: rgb(38, 39, 43);
    /* border: 1px solid black; */
    padding: 50px 0 20px 0;
}

.FooterComponent section {
    margin: 0 50px;
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'Butler_Light';
    src: url("../../../fonts/Butler_Light.otf") format("opentype");
}

/* FooterComponentTopPart is here */
.FooterComponentTopPart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.FooterComponentTopPart-Products {
    /* border: 1px solid black; */
    /* width: 10vw; */
    width: 153.6px;
}

.FooterComponentTopPart-Products a {
    color: RGB(198, 198, 198);
    text-decoration: none;
}

.FooterComponentTopPart-Products a:hover {
    color: #3BA9E0;
    font-family: 300;
}

.FooterComponentTopPart-HeadQuaters {
    /* margin: 0 0 0 13.3vw; */
    margin: 0 0 0 204.28px;
    /* border: 1px solid black; */
    /* width: 19.79vw; */
    width: 303.97px;
}

.FooterComponentTopPart-mailAddress {
    /* width: 21.875vw; */
    width: 336px;
    /* border: 1px solid black; */
    /* margin: 0 1vw 0 4vw; */
    margin: 0 15.36px 0 61.44px;
}

.FooterComponentTopPart div ul {
    list-style-type: none;
}

.FooterComponentTopPart div ul li {
    font-size: 14px;
    color: RGB(198, 198, 198);
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
}

.FooterComponentTopPart div .heading {
    font-family: 'Butler_Light', sans-serif;
    color: white;
    font-size: 20px;
    word-spacing: 2px;
    font-weight: 400;
    /* margin-bottom: 1vh; */
    margin-bottom: 7.54px;
    letter-spacing: 1px;
}

/* stayUpToDate is here */

.stayUpToDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@font-face {
    font-family: 'Helvetica_font';
    src: url("../../../fonts/Helvetica_Neue_Regular.otf") format("opentype");
}

.stayUpToDate input {
    width: 330px;
    background-color: rgb(38, 39, 43);
    border: 0;
    border-bottom: 2.5px solid RGB(198, 198, 198);
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(161, 161, 161);
    font-family: "Helvetica_font", sans-serif;
    padding: 0 0 15px 12px;
    margin: 13px 0 20px 0;
}

.stayUpToDate button {
    background-color: #3BA9E0;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

/* FooterComponentBottomPart is here */

.FooterComponentBottomPart {
    /* border: 1px solid black; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterComponentBottomPart div p {
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.FooterComponentBottomPart-One p {
    line-height: 25px;
    letter-spacing: 1px;
}

.FooterComponentBottomPart-Two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 0 0 5vw; */
    margin: 0 0 0 70px;

}

.FooterComponentBottomPart-Two a {
    font-size: 14px;
    color: RGB(198, 198, 198);
    text-decoration: none;
    font-weight: 300;
}

.FooterComponentBottomPart-Two a:hover {
    color: #3ba9e0;
}

.FooterComponentBottomPart-Two div {
    height: 10px;
    width: 1.5px;
    background-color: gray;
    margin: 0 16px;
}

.FooterComponentBottomPart-Three {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 25.9vw; */
    margin-left: 397.82px;
}

.facebookLogo {
    height: 20px;
    width: 20px;
    margin-top: -2px;
}

.instagramLogo {
    height: 16px;
    width: 16px;
    margin: 2px 16px 0 16px;
}

.youTubeLogo {
    height: 22px;
    width: 22px;
}

.FooterComponentSeparate {
    height: 1.5px;
    width: auto;
    background-color: gray;
    margin: 41px 0 24px 0;
}

/* responsive work starts from here */
/* responsive for width 1920px */
@media(width=1920px) {
    .FooterComponent {
        padding: 62.5px 0 25px 0;
    }

    .FooterComponent section {
        margin: 0 62.5px;
        /* border: 1px solid black; */
    }

    .FooterComponentTopPart-Products {
        /* border: 1px solid black; */
        /* width: 10vw; */
        width: 192px;
    }

    .FooterComponentTopPart-HeadQuaters {
        /* margin: 0 0 0 13.3vw; */
        margin: 0 0 0 255.35px;
        /* border: 1px solid black; */
        /* width: 19.79vw; */
        width: 379.96px;
    }

    .FooterComponentTopPart-mailAddress {
        /* width: 21.875vw; */
        width: 420px;
        /* border: 1px solid black; */
        /* margin: 0 1vw 0 4vw; */
        margin: 0 19.2px 0 76.8px;
    }

    .FooterComponentTopPart div .heading {
        font-size: 25px;
        /* margin-bottom: 1vh; */
        margin-bottom: 9.425px;
    }

    .stayUpToDate input {
        width: 412.5px;
        background-color: rgb(38, 39, 43);
        border: 0;
        border-bottom: 3.125px solid RGB(198, 198, 198);
        padding: 0 0 18.75px 15px;
        margin: 16.25px 0 25px 0;
    }


    .FooterComponentBottomPart-Two {
        /* margin: 0 0 0 5vw; */
        margin: 0 0 0 87.5px;
    }

    .FooterComponentBottomPart-Two div {
        height: 12.5px;
        width: 1.875px;
        margin: 0 20px;
    }

    .FooterComponentBottomPart-Three {
        /* margin-left: 25.9vw; */
        margin-left: 714px;
    }

    
    .FooterComponentSeparate {
        height: 1.875px;
        width: auto;
        background-color: gray;
        margin: 51.25px 0 30px 0;
    }
}