.FooterComponent {
    /* height: 365px; */
    height: auto;
    width: auto;
    background-color: rgb(38, 39, 43);
    /* border: 1px solid black; */
    padding: 50px 0 20px 0;
}

.FooterComponent section {
    margin: 0 50px;
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'Butler_Light';
    src: url("../../../fonts/Butler_Light.otf") format("opentype");
}

/* FooterComponentTopPart is here */
.FooterComponentTopPart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.FooterComponentTopPart div p {
    font-size: 14px;
    color: RGB(198, 198, 198);
    font-weight: 300;
    line-height: 30px;
}

.FooterComponentTopPart div .heading {
    font-family: 'Butler_Light', sans-serif;
    color: white;
    font-size: 20px;
    word-spacing: 2px;
}

/* stayUpToDate is here */

.stayUpToDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@font-face {
    font-family: 'Helvetica_font';
    src: url("../../../fonts/Helvetica_Neue_Regular.otf") format("opentype");
}

.stayUpToDate input {
    width: 420px;
    background-color: rgb(38, 39, 43);
    border: 0;
    border-bottom: 2.5px solid RGB(198, 198, 198);
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(161, 161, 161);
    font-family: "Helvetica_font", sans-serif;
    padding: 0 0 15px 12px;
    margin: 13px 0 20px 0;
}

.stayUpToDate button {
    background-color: #3BA9E0;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* FooterComponentBottomPart is here */

.FooterComponentBottomPart {
    /* border: 1px solid black; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterComponentBottomPart div p {
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.FooterComponentBottomPart-One p {
    line-height: 25px;
    letter-spacing: 1px;
}

.FooterComponentBottomPart-Two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 0 0 5vw; */
    margin: 0 0 0 76.8px;
}

.FooterComponentBottomPart-Two div {
    height: 10px;
    width: 1.5px;
    background-color: gray;
    margin: 0 16px;
}

.FooterComponentBottomPart-Three {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 25.9vw; */
    margin-left: 397.82px;
}

.facebookLogo{
    height: 20px;
    width: 20px;
    margin-top: -2px;
}
.instagramLogo{
    height: 16px;
    width: 16px;
    margin: 2px 16px 0 16px;
}

.youTubeLogo{
    height: 22px;
    width: 22px;
}

.FooterComponentSeparate{
    height: 1.5px;
    width: auto;
    background-color: gray;
    margin: 41px 0 24px 0;
}